.container {
    max-width: 50rem;
}
multioption option {
    padding: 1rem;
    transition: all 100ms ease-in-out;
}
multioption option:hover {
    cursor: pointer;
    border: 1px solid rgb(67, 64, 255);
    transform: scale(1.01);
}
